.ToggleDiv {
	position: fixed;
	right: -1%;
	bottom: 2%;

	z-index: var(--z-index-overlay);
	transition: all var(--transition-fast) ease-in-out;
}

#Icon {
	font-size: 1000px;
	width: 10px;
	aspect-ratio: 1/1;
}

#ModeToggle, #ThemeToggle {
	border-radius: 4rem;
	box-shadow: var(--box-shadow-heavy);

	justify-content: left;
	font-size: 1.5rem;

}

#ModeToggle {
	background: linear-gradient(
		90deg,
		var(--color-accent),
		var(--color-accent-brighter)
	);
	border-top-right-radius: 0%;
	border-bottom-right-radius: 0%;

	width: 6rem;
	aspect-ratio: 2 / 1;

	position: relative;
	right: -35%;
	@media (width <= 450px) {
		right: -3.5rem;
	}
}
#ThemeToggle {
	background-color: hsl(var(--main-hue), calc(var(--base-saturation) * 0.5), calc(var(--base-lightness) * 0.5));
	width: 3rem;
	aspect-ratio: 1;

	position: absolute;
	right: 2rem;
	@media (width <= 450px) {
		right: 0rem;
	}
}

#ModeToggle:hover, #ThemeToggle:hover {
	transform: translateX(-20%);
	@media (width <= 450px) {
		transform: translateX(-40%);
	}
}
#ModeToggle:active, #ThemeToggle:active {
	transform: translateX(-15%);
	@media (width <= 450px) {
		transform: translateX(-35%);
	}
}