.ToggleDiv {
	position: fixed;
	right: -1%;
	bottom: 2%;

	z-index: var(--z-index-overlay);
	transition: var(--transition-fast);
}

#Toggle {
	background: linear-gradient(
		90deg,
		var(--color-button-bg),
		var(--color-button-accent)
	);
	border-radius: 4rem;
	border-top-right-radius: 0%;
	border-bottom-right-radius: 0%;
	box-shadow: var(--box-shadow-light);

	justify-content: left;
	font-size: 1.5rem;
	width: 6rem;
	aspect-ratio: 2 / 1;

	position: relative;
	right: -35%;
	@media (width <= 450px) {
		transform: scale(0.8);
		right: -3.5rem;
	}
}

#Toggle:hover {
	transform: translateX(-20%);
	@media (width <= 450px) {
		transform: translateX(-40%);
	}
}
#Toggle:active {
	transform: translateX(-15%);
	@media (width <= 450px) {
		transform: translateX(-35%);
	}
}

#Icon {
	font-size: 1000px;
	width: 10px;
	aspect-ratio: 1/1;
}
