#TopBanner {
	background-color: var(--color-button-accent);

	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0rem;
	padding-left: 1rem;
	padding-right: 1rem;
	color: white;

	top: 0;
	width: 100%;

	z-index: 1000;
}

#TopBanner a {
	text-decoration: underline;
	color: white;
}
#TopBanner a:hover {
	color: rgb(255, 234, 163);
}

#TopBanner div {
	display: flex;
	width: fit-content;
	gap: 1rem;
	@media (width <= 400px) {
		display: block;
	}
}

#closeButton {
	background: none;
	box-shadow: none;
	border: none;
	width: fit-content;
	height: fit-content;
	font-size-3: 1.25rem;
	color: white;
	cursor: pointer;
	transition: var(--transition-fast);
}
#closeButton:hover {
	transform: scale(1.2);
}
#closeButton:active {
	transform: scale(1);
}
