.NavBar {
	position: relative;
	display: flex;
	justify-content: center;
	gap: 1rem;

	margin: 2rem 0.25rem;
}

.NavBarList {
	border-radius: 6px;

	display: flex;
	justify-content: center;
	gap: 0.25rem;

	margin: 0;
	padding: 0.25rem 0.5rem;

	list-style: none;
}

.MenuListItem {
	background: none;
	border-radius: 6px;
	border: none;

	user-select: none;

	margin: 0.25rem;
	padding: 0.25rem 0.5rem;

	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	min-width : 1rem;
	min-height: 1rem;
	max-width : fit-content;

	font-weight: var(--font-weight-bold);
	color: var(--color-text);

	transition: var(--transition-fast);
}

.MenuListItem:hover {
	background-color: var(--color-accent-dark);
	box-shadow: 8px 8px 8px var(--shadow-color-light);
}
a:hover {
	color: var(--color-text-special);
}
