/* GLOBAL STYLES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px) {
}

/*#region ========= CSS RESET ========= */
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;

		transition: var(--transition-fast);
	}
	html {
		font-size: var(--font-size-3);
		height: auto;
		max-width: 100vw;
		overflow: hidden;
		overflow-y: scroll;
		scroll-behavior: smooth;
	}

	body {
		background-color: var(--color-primary-muted);

		padding: 0rem;
		margin: 0rem;
		
		width : 100vw;
		height: auto;
		
		font-family: var(--font-family);
		color: var(--color-text);
		line-height: 1.4;
		
		overflow-x: hidden;
	}
/*#endregion */

#root {
	width: 100vw;
}

/* prettier-ignore */
:root {
	/* Fonts */
	--font-family: sans-serif;

	--font-size: 16px;
	--font-size-1: calc(var(--font-size) * 0.5);
	--font-size-2: calc(var(--font-size) * 0.75);
	--font-size-3: calc(var(--font-size) * 1);
	--font-size-4: calc(var(--font-size) * 1.25);
	--font-size-5: calc(var(--font-size) * 1.5);
	--font-size-6: calc(var(--font-size) * 1.75);
	--font-size-7: calc(var(--font-size) * 2);
	--font-size-8: calc(var(--font-size) * 2.5);
	--font-size-9: calc(var(--font-size) * 3);

	--font-weight-skiny : 100;
	--font-weight-thin  : 200;
	--font-weight-def   : 400;
	--font-weight-bold  : 600;
	--font-weight-chunky: 900;

	/* UI */
	--border-radius-1: 0.5em;
	--border-radius-2: 1em;
	--border-radius-3: 2em;
	--border-radius-4: 3em;
	--border-radius-5: 5em;

	--edge-gap-1: 0.25%;
	--edge-gap-2: 0.5%;
	--edge-gap-3: 1%;
	--edge-gap-4: 2.5%;
	--edge-gap-5: 5%;

	--margin-1: 2.5%;
	--margin-2: 5%;
	--margin-3: 7.5%;
	--margin-4: 10%;

	--padding-1: 2.5%;
	--padding-2: 5%;
	--padding-3: 7.5%;
	--padding-4: 10%;

	--z-index-header : 200;
	--z-index-main   : 100;
	--z-index-footer : 900;
	--z-index-overlay: 1000;

	/* VFX */
	--box-shadow-heavy: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	--box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
	--box-shadow-light: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);

	/* ANIMATIONS */
	--transition-sdark: all 0.5s ease;
	--transition-med  : all 0.3s ease;
	--transition-fast : all 0.2s ease;
	
	@media (prefers-color-scheme: dark) {
		--font-weight: 18px;
	}
}

/*#region Colors */
/* prettier-ignore */
:root {
	/* 
	--hue-main    : 235;
	--hue-accent-1: 200;
	--hue-accent-2: 125;
	--lightness: 100%;
	--saturation: 100%;
	*/
	/* If I decided I want to modify the main hue of the whole page, 
	I'd need to plug in these guys into the hue of every color val in this list.
	Same as lightness and saturation.*/
	
	--color-base     : hsl(235, 50%, 20%);
	--color-base-muted     : hsl(235, 25%, 20%);

	--color-neutral-dark : hsl(0, 0%, 25%);
	--color-neutral      : hsl(0, 0%, 50%);
	--color-neutral-light: hsl(0, 0%, 75%);


	--color-text-link: hsl(225, 50%, 40%);
	--color-text-link-highlight: hsl(209, 54%, 52%);
	--color-text-error: hsl(10, 100%, 50%);
	--color-text-warning: hsl(40, 100%, 50%);


	--color-shadow-light: hsla(230, 80%, 5%, 0.2);
	--color-shadow      : hsla(230, 80%, 5%, 0.5);
	--color-shadow-heavy: hsla(230, 80%, 5%, 0.8);

	--color-glow-light: hsla(230, 80%, 95%, 0.2);
	--color-glow      : hsla(230, 80%, 95%, 0.5);
	--color-glow-heavy: hsla(230, 80%, 95%, 0.8);


	--color-red    : hsl(  0, 80%, 50%);
	--color-orange : hsl( 30, 80%, 50%);
	--color-yellow : hsl( 60, 80%, 50%);
	--color-lime   : hsl( 90, 80%, 50%);
	--color-green  : hsl(120, 80%, 50%);
	--color-teal   : hsl(150, 80%, 50%);
	--color-cyan   : hsl(180, 80%, 50%);
	--color-blue   : hsl(210, 80%, 50%);
	--color-indego : hsl(240, 80%, 50%);
	--color-purple : hsl(270, 80%, 50%);
	--color-violet : hsl(300, 80%, 50%);
	--color-magenta: hsl(330, 80%, 50%);
}

/* prettier-ignore */
[data-theme = "light"] {
	--color-primary  : hsl(235, 80%, 85%);
	--color-secondary: hsl(235, 30%, 90%);
	--color-contrast : hsl(235, 15%, 20%);
	--color-primary-muted  : hsl(235, 40%, 85%);
	--color-secondary-muted: hsl(235, 15% , 90%);
	--color-contrast-muted : hsl(235, 7.5%, 10%);

	/*
	--color-unused-lighter: hsl(150, 40%, 37.5%);
	--color-unused-light   : hsl(175, 40%, 30%);
	--color-unused         : hsl(200, 40%, 25%);
	--color-unused-dark    : hsl(225, 40%, 20%);
	--color-unused-darker : hsl(250, 40%, 12.5%);
	*/
	/* leaving these here cuz I like the colors */


	--color-accent-lighter: hsl(170, 50%, 75%);
	--color-accent-light  : hsl(185, 50%, 50%);
	--color-accent        : hsl(200, 50%, 50%);
	--color-accent-dark   : hsl(215, 50%, 25%);
	--color-accent-darker : hsl(230, 50%, 15%);
	--color-accent-secondary-lighter: hsl( 90, 50%, 75%);
	--color-accent-secondary-light  : hsl(105, 50%, 50%);
	--color-accent-secondary        : hsl(125, 50%, 50%);
	--color-accent-secondary-dark   : hsl(140, 50%, 25%);
	--color-accent-secondary-darker : hsl(165, 50%, 15%);

	--color-accent-muted-lighter: hsl(170, 20%, 75%);
	--color-accent-muted-light  : hsl(185, 20%, 50%);
	--color-accent-muted        : hsl(200, 20%, 50%);
	--color-accent-muted-dark   : hsl(215, 20%, 25%);
	--color-accent-muted-darker : hsl(230, 20%, 15%);
	--color-accent-muted-secondary-lighter: hsl( 90, 20%, 75%);
	--color-accent-muted-secondary-light  : hsl(105, 20%, 50%);
	--color-accent-muted-secondary        : hsl(125, 20%, 50%);
	--color-accent-muted-secondary-dark   : hsl(140, 20%, 25%);
	--color-accent-muted-secondary-darker : hsl(165, 20%, 15%);


	--color-text          : hsl(240, 50%, 10%);
	--color-text-inverse  : hsl(240, 50%, 90%);
	--color-text-muted        : hsl(240, 25%, 20%);
	--color-text-muted-inverse: hsl(240, 25%, 80%);
		
	--color-text-light-bg : hsl(240, 50%, 10%);
	--color-text-dark-bg  : hsl(240, 50%, 90%);
	--color-text-highlight: hsl(209, 50%, 50%);
	
	--color-text-h1: hsl(225, 60%, 65%);
	--color-text-h2: hsl(260, 60%, 35%);
	--color-text-h3: hsl(285, 60%, 35%);
}
[data-theme = "dark"] {
	--color-primary  : hsl(235, 30%, 10%);
	--color-secondary: hsl(235, 20%, 15%);
	--color-contrast : hsl(235, 15%, 90%);
	--color-primary-muted  : hsl(235, 15%, 10%);
	--color-secondary-muted: hsl(235, 10% , 15%);
	--color-contrast-muted : hsl(235, 7.5%, 90%);

	/*
	--color-unused-lighter: hsl(150, 40%, 62.5%);
	--color-unused-light   : hsl(175, 40%, 70%);
	--color-unused         : hsl(200, 40%, 75%);
	--color-unused-dark    : hsl(225, 40%, 80%);
	--color-unused-darker : hsl(250, 40%, 87.5%);
	*/

	--color-accent-lighter: hsl(170, 50%, 60%);
	--color-accent-light  : hsl(185, 50%, 65%);
	--color-accent        : hsl(200, 50%, 55%);
	--color-accent-dark   : hsl(215, 50%, 40%);
	--color-accent-darker : hsl(230, 50%, 40%);
	--color-accent-secondary-lighter: hsl( 90, 50%, 60%);
	--color-accent-secondary-light  : hsl(105, 50%, 65%);
	--color-accent-secondary        : hsl(125, 50%, 55%);
	--color-accent-secondary-dark   : hsl(140, 50%, 40%);
	--color-accent-secondary-darker : hsl(165, 50%, 40%);

	--color-accent-muted-lighter: hsl(170, 20%, 60%);
	--color-accent-muted-light  : hsl(185, 20%, 65%);
	--color-accent-muted        : hsl(200, 20%, 55%);
	--color-accent-muted-dark   : hsl(215, 20%, 40%);
	--color-accent-muted-darker : hsl(230, 20%, 40%);
	--color-accent-muted-secondary-lighter: hsl( 90, 20%, 60%);
	--color-accent-muted-secondary-light  : hsl(105, 20%, 65%);
	--color-accent-muted-secondary        : hsl(125, 20%, 55%);
	--color-accent-muted-secondary-dark   : hsl(140, 20%, 40%);
	--color-accent-muted-secondary-darker : hsl(165, 20%, 40%);

	--color-text          : hsl(240, 100%, 90%);
	--color-text-inverse  : hsl(240, 100%, 10%);
	--color-text-special  : hsl(125, 100%, 90%);
	--color-text-highlight: hsl(209, 100%, 50%);

	--color-text-h1: hsl(225, 60%, 65%);
	--color-text-h2: hsl(260, 60%, 65%);
	--color-text-h3: hsl(285, 60%, 65%);
}
/*#endregion */
