
:root {
	background-color: var(--color-primary);
	color: var(--color-text);

	font-family: var(--font-family);
	line-height: 1.5;
	font-weight: var(--font-weight-3);

	color-scheme: light dark;
	transition: var(--transition-med);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: var(--font-weight-4);
	color: var(--color-text-link);
	text-decoration: inherit;
}
a:hover {
	color: var(--color-text-link-highlight);
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	line-height: 1.1;
	color: var(--color-text-h1);
}
h2 {
	color: var(--color-text-h2);
}
h3 {
	color: var(--color-text-h3);
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--color-accent);
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: var(--color-accent-bright);
	background-color: var(--color-accent-bright);
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}